@import "../../styles/variables.scss";

#education {
  flex-flow: row wrap;
  justify-content: center;
  border-bottom: 3px solid $dark-color;

  h2 {
    margin: 20px 100px 35px 580px;
  }

  hr {
    width: 35%;
    margin-right: 350px;
    margin-bottom: 35px;
  }

  #codeFellows {
    display: inline;

    img {
      max-width: 32%;
      max-height: 32%;
      margin: 0 20px 20px 340px;
      border: 1px hidden;
      -webkit-box-shadow: 0 0 4px 2px rgb(194, 188, 188);
      -moz-box-shadow: 0 0 4px 2px rgb(194, 188, 188);
      box-shadow: 0 0 4px 2px rgb(194, 188, 188);
    }
  }

  #nodejs {
    display: inline;

    img {
      margin: 0 0 20px 20px;
      max-width: 33%;
      max-height: 33%;
      border: 1px hidden;
      -webkit-box-shadow: 0 0 4px 2px rgb(194, 188, 188);
      -moz-box-shadow: 0 0 4px 2px rgb(194, 188, 188);
      box-shadow: 0 0 4px 2px rgb(194, 188, 188);
    }
  }
}

@media screen and (max-width: 875px) {
  #education {
    width: 100%;
    margin-left: 0px;
    display: block;

    h2 {
      font-size: 40px;
      text-align: center;
      margin: 10px auto 20px;
    }

    hr {
      margin: 10px auto;
      width: 80%;
    }

    #codeFellows {
      display: inline;
      max-width: 100%;

      img {
        margin: 10px 20px 15px 30px;
        max-width: 40%;
      }
    }

    #nodejs {
      display: inline;
      max-width: 100%;

      img {
        margin: 10px auto 15px 0px;
        max-width: 40%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #education {
    #codeFellows {
      img {
        width: 100%;
        margin: 20px 30px 20px 65px;
      }
    }

    #nodejs {
      img {
        width: 100%;
        margin: 20px auto;
      }
    }
  }
}
