@import "../../styles/variables.scss";

#portfolio{
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;

  h2{
    margin: 10px auto 20px 550px;
  }

  h4{
    margin: 5px auto 5px 300px;
    font-weight: 50;
  }

    #containerOne{
      display:flex;
      max-width: 100%;
      margin-bottom: 425px;

      #imageOne{
        flex: 0 0 50%;
        width: 100px;
        height:100px;
        
        #imageOne img{
          max-width: 100%;
          max-height: 100%;
          margin-right: 30px;
          border: 1px hidden;
          -webkit-box-shadow: 0 0 4px 2px rgb(224, 219, 219);
          -moz-box-shadow: 0 0 4px 2px rgb(224, 219, 219);
          box-shadow: 0 0 4px 2px rgb(224, 219, 219);
        }
      }
          #contentOne{
            background-color: red($color: #000000);
            // display: flex;
            // flex-direction: column;
            // max-width: 25%;
            // max-height: 100%;
            // margin: 10px 0 10px 10px;
        }

  }

    #containerTwo{
      display:flex;
      max-width: 100%;

      #imageTwo{
        flex: 0 0 100%;

        #imageTwo img{
          max-width: 50%;
          margin-left: 10px;
          border: 1px hidden;
          -webkit-box-shadow: 0 0 4px 2px rgb(224, 219, 219);
          -moz-box-shadow: 0 0 4px 2px rgb(224, 219, 219);
          box-shadow: 0 0 4px 2px rgb(224, 219, 219);
        }
      }

      #contentTwo{
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 200px;
        margin: 0;
        text-align: right;
    }
  }

  #containerThree{
    display:flex;

    #imageThree{
      flex: 0 0 100%;

      #imageThree img{
        max-width: 100%;
        margin: 20px 10px 70px 300px;
        border: 1px hidden;
        -webkit-box-shadow: 0 0 4px 2px rgb(224, 219, 219);
        -moz-box-shadow: 0 0 4px 2px rgb(224, 219, 219);
        box-shadow: 0 0 4px 2px rgb(224, 219, 219);
      }
    }

    #contentThree{
      display: flex;
      flex-direction: column;
      width: 500px;
      height: 200px;
      margin: 0;
      text-align: right;
    }
  }

  #containerFour{
    display:flex;

    #imageFour{
      flex: 0 0 100%;

      #imageFour img{
        max-width: 100%;
        margin: 20px 10px 70px 300px;
        border: 1px hidden;
        -webkit-box-shadow: 0 0 4px 2px rgb(224, 219, 219);
        -moz-box-shadow: 0 0 4px 2px rgb(224, 219, 219);
        box-shadow: 0 0 4px 2px rgb(224, 219, 219);
      }
    }

    #contentFour{
      display: flex;
      flex-direction: column;
      width: 500px;
      height: 200px;
      margin: 0;
      text-align: right;
    }
  }

}