@import "../../styles/variables.scss";

#portfolio {
  display: flex;
  flex-flow: wrap;
  margin-left: 275px;
  flex-direction: column;
  justify-content: center;
  border-bottom: 3px solid $dark-color;

  h2 {
    margin: 15px auto 30px 275px;
  }

  hr {
    width: 50%;
    margin-left: 250px;
  }

  h4 {
    margin: 30px auto 5px 50px;
    font-weight: bold;
  }

  span {
    font-weight: bold;
  }

  #node {
    margin-left: -30px;
  }

  .button {
    margin-left: 250px;
    margin-right: 30px;
  }

  .button,
  .buttonTwo {
    background-color: gray;
    font-family: $bodyfont;
    font-size: 18px;
    border-radius: 4%;
    transition: all 0.5s;
    border: none;
  }

  .button span,
  .buttonTwo span {
    display: inline-block;
    transition: 0.5s;
  }

  .button span:after,
  .buttonTwo span:after {
    content: "\00bb";
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 1s;
  }

  .button:hover span,
  .buttonTwo:hover span {
    padding-left: 25px;
  }

  .button:hover span:after,
  .buttonTwo:hover span:after {
    opacity: 1;
    right: 0;
  }

  a {
    color: black;
    display: inline-block;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
  }

  #containerOne {
    display: flex;
    margin-bottom: 25px;

    #imageOne {
      display: block;

      img {
        max-width: 185%;
        max-height: 185%;
        display: block;
        margin-top: 15px;
        margin-right: 50px;
        margin-left: 30px;
        border: 1px hidden;
        -webkit-box-shadow: 0 0 4px 2px rgb(224, 219, 219);
        -moz-box-shadow: 0 0 4px 2px rgb(224, 219, 219);
        box-shadow: 0 0 4px 2px rgb(224, 219, 219);
      }
    }
    #contentOne {
      display: flexbox;
      max-width: 100%;

      p {
        max-width: 65%;
        margin-top: 25px;
        margin-left: 250px;
        margin-bottom: 0px;
        line-height: 1.5;
      }

      p.tech {
        margin-top: -0.5px;
      }
    }
  }

  #containerTwo {
    display: flex;
    margin-bottom: 25px;

    #imageTwo {
      display: block;

      img {
        max-width: 155%;
        max-height: 155%;
        display: block;
        margin-top: 15px;
        margin-right: 50px;
        margin-left: 30px;
        border: 1px hidden;
        -webkit-box-shadow: 0 0 4px 2px rgb(224, 219, 219);
        -moz-box-shadow: 0 0 4px 2px rgb(224, 219, 219);
        box-shadow: 0 0 4px 2px rgb(224, 219, 219);
      }
    }
    #contentTwo {
      display: flexbox;
      max-width: 100%;

      p {
        max-width: 65%;
        margin-top: 35px;
        margin-left: 220px;
        margin-bottom: 0px;
        line-height: 1.5;
      }

      p.tech {
        margin-top: -0.5px;
      }
    }
  }

  #containerThree {
    display: flex;
    margin-bottom: 25px;

    #imageThree {
      display: block;

      img {
        max-width: 170%;
        max-height: 170%;
        display: block;
        margin-top: 15px;
        margin-right: 50px;
        margin-left: 30px;
        border: 1px hidden;
        -webkit-box-shadow: 0 0 4px 2px rgb(224, 219, 219);
        -moz-box-shadow: 0 0 4px 2px rgb(224, 219, 219);
        box-shadow: 0 0 4px 2px rgb(224, 219, 219);
      }
    }
    #contentThree {
      display: flexbox;
      max-width: 100%;

      p {
        max-width: 65%;
        margin-top: 12px;
        margin-left: 250px;
        margin-bottom: 0px;
        line-height: 1.5;
      }

      p.tech {
        margin-top: -0.5px;
      }
    }
  }

  #containerFour {
    display: flex;
    margin-bottom: 35px;

    #imageFour {
      display: block;

      img {
        max-width: 160%;
        max-height: 160%;
        display: block;
        margin-top: 15px;
        margin-right: 50px;
        margin-left: 30px;
        border: 1px hidden;
        -webkit-box-shadow: 0 0 4px 2px rgb(224, 219, 219);
        -moz-box-shadow: 0 0 4px 2px rgb(224, 219, 219);
        box-shadow: 0 0 4px 2px rgb(224, 219, 219);
      }
    }
    #contentFour {
      display: flexbox;
      max-width: 100%;

      p {
        max-width: 65%;
        margin-top: 10px;
        margin-left: 250px;
        margin-bottom: 0px;
        line-height: 1.5;
      }

      p.tech {
        margin-top: -0.5px;
      }
    }
  }
}

@media screen and (max-width: 975px) and (min-width: 800px) {
  #portfolio {
    width: 100%;

    h2 {
      margin: 10px 100px 20px 300px;
      // flex-direction: column;
    }

    #containerOne {
      // width: 100%;
      margin-right: 10px;

      #imageOne {
        display: block;

        img {
          margin-left: 400px;
        }
      }
    }
  }
}
