@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway:300&display=swap');

$light-color: rgb(138, 160, 132);
$highlight-color: rgba(247, 239, 239, 0.911);
$dark-color: rgba(24, 56, 14, 0.932);


$headerfont: 'Montserrat', sans-serif;
$bodyfont: 'Open Sans', sans-serif;
$footerfont: 'Raleway', sans-serif;