@import "../../styles/variables.scss";

#about{
  background-color: $info-color;
  display: grid;
  border-bottom: 3px solid $dark-color;
}

p:nth-child(2){
  padding-bottom: 20px;
  padding-top: 10px;
}

#content{
  padding-bottom: 20px;
  margin: 20px 20px 20px 0px;
}

img{
  display: block;
  margin: 70px auto 10px auto;
  width: 40%;
}