@import "../../styles/variables.scss";

#contact {
  display: flex;
  justify-content: center;

  img:hover {
    background-color: $highlight-color;
    border-radius: 50%;
  }

  ul {
    width: 50%;
    margin: 20px 25%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
}
