@import "../../styles/variables.scss";

@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Encode+Sans+Semi+Condensed|Montserrat|Open+Sans|Raleway:300&display=swap");

nav {
  height: 100%;
  width: 275px;
  background-color: $light-color;
  position: fixed;
  border-right: 3px solid $dark-color;

  #name {
    border-bottom: 2px solid $dark-color;
    padding-bottom: 20px;
    background-color: rgb(230, 227, 227);
    margin-top: 20px;
    max-height: 30%;
  }

  h1 {
    font-family: "Encode Sans Semi Condensed", sans-serif;
    font-weight: 275;
    font-size: 60px;
    text-transform: uppercase;
    margin: 15px 15px 5px 15px;
    display: block;
  }

  h3 {
    font-family: $headerfont;
    color: rgba(54, 56, 54, 0.678);
    font-style: oblique;
    font-weight: 600px;
    font-size: 24px;
    display: block;
    text-align: center;
  }

  div {
    justify-content: space-between;
    line-height: 60px;
    font-size: 25px;
    margin-left: 50px;
  }

  a,
  li {
    display: block;
    text-decoration: none;
    margin: 22px auto 15px auto;
  }
}
